
.Instagram{
    background-color: plum;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
}
.Youtube{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
}